#loginContainer{
    height:420px;
    width:406px;
    border:1px solid black;
    box-sizing: border-box;
    margin:auto;
    margin-top:8%;
    text-align: center;
    border-radius: 5px;
    opacity:0
}
#crossButton{
    margin-left:93%;
    margin-top:5px;
    border:none;
    background:white;
    font-size: 17px;
}
#loginContainerimg{
    height:67px;
    width:280px;
}
.decorated{
    font-size: 14px;
    color: #000;    
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
}
#loginWithOther{
    display:flex;
    justify-content: center;
    gap:20px
}
.otherSiteLink img{
  height:55px;
  width:155px;
}
#continueButton{
    height: 50px;
    width: 350px;
    background-color: #000;
    color: white;
    font-family: sans-serif;
}
#mobileInput{
    height:40px;
    width:340px;
    margin:20px;
    margin-top:-10px;
    font-size: 20px;
    border:1px solid rgb(138, 135, 135)
}
#mobileNoLabel{
    padding-right: 220px;
    padding-top:15px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
}
#visible{
    opacity:1px;
    height:420px;
    width:406px;
    border:1px solid black;
    box-sizing: border-box;
    margin:auto;
    margin-top:8%;
    text-align: center;
    border-radius: 5px;
}