#otpContainer{
    height:400px;
    width:540px;
    border:1px solid black;
    box-sizing: border-box;
    margin:auto;
    margin-top:8%;
    text-align: center;
    border-radius: 5px;
}
#crossButton{
margin-left:94%;
margin-top:3px;
border:none;
background:white;
font-size: 18px;
}
#otpContainer>h3{
    margin-bottom: -px;
}
input {
width: 30px;
height: 40px;
border:none;
border-bottom: 1px solid black;
text-align: center;
font-size: 24px;
font-family: 'Raleway', sans-serif;
margin: 0 2px;
}
#submit{
background-color: black ;
color: white;
margin-top:20px;
width:270px;
}
#nameEmailVerify{
    display:flex;
    justify-content: center;
    gap:30px;
    text-align: left;
    margin-top:22px;
}
#nameEmailVerify label{
    font-weight: 300;
    font-size: 20px;
    margin: 10px 0px 60px 5px;
}
.nameEmail{
width:220px;
height: 20px;
border:none;
border-bottom:1px solid black;
font-size: 14px;
text-align: left;
font-family: sans-serif;
}