#glamourData{
    display: grid;
    grid-template-columns: repeat(3,315px);
    grid-template-rows:repeat(2,608.56) ;
    justify-content: center;
    gap:80px;
}
#glamourData>div{
    width:315px;
    height:472.56px;
    border:1px solid rgb(211, 210, 210);
    padding: 0% 10%;
    margin-bottom:-50px
}
#glamourData img{
     height:255px;
     width:255px;
     padding-left:10%
}
#priceSecB{
    display:flex;
    gap:20px;
    font-size: 25px;
}